/*------------------------------------*\
    VARIABLES
\*------------------------------------*/

/* ----- Colors ----- */

$colorBg1: #0B0C10; // header
$colorBg2: rgba(0,0,0,0.8); // article title container
$colorBg3: rgba(0,0,0,0.85); // article snippet container
$colorBg4: #45ADA8; // gradient
$colorBg5: #FEFFFF; // hover background reset
$colorBg6: #041729; // gradient
$colorText1: #fff;
$colorText2: #000;
$colorText3: #333;

/* ----- Responsive ----- */

$tablet         : 768px;
$desktop        : 1024px;
